.container {
  padding: 20px;
}
.backButton {
  margin-bottom: 10px;
}
.product {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.image {
  max-width: 300px;
  object-fit: contain;
}
.details {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.details button {
  margin-top: 10px;
  margin-right: 10px;
}
